@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* fonts and stuff */

html {
    font-size: 1em;
		text-align: center;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    line-height: 15px;
		font-size: 1.4em;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    line-height: 50px;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
    font-weight: 400;
}

a {
    color: #73937e;
    text-decoration: none;
}

h3 {
    margin: 1%;
}

a:hover {
    text-decoration: underline;
}

ul {
	line-height: 1.4em;
}

/* layout */
.torso {
   display: block;
   margin: auto;

   margin: 4vh 2vw 0 2vw;


}
@media only screen and (min-width: 768px) {
    .torso {
        margin:auto;
        margin-top: 20vh;
        width: 700px;
    }
}


#center {
    justify-content: center;
    align-items: center;

}
